.fcrg {

	.iron-horse {
		background: #666666;
		color: $Army-Gold;

		p {
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}

	#gone {
		display: none;
	}
	
	.disclaimer {
		margin-top: 95px;
		text-align: center;
		background: #cccccc;
	}

	img {
		padding-top: 10px
	}

	
}