.orbit-timer { display:none; }

a:link, a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover, a:active {
  color: $Army-Green;
  text-decoration: none;
}

.padding {
  padding: 0 !important;
  background: $medium-gray;

}

.header {
	height: 141px;
  background: url(../img/homepage_banner.png) no-repeat;
	
	.army-crest {
		position: absolute;
		top: 20px;
		left: 30px;
	}
	
	.tagline {
		position: absolute;
		top: 53px;
		left: 120px;
		
		h1, h2 {
			margin: 0;
			padding: 0;
		}
		
		h1 {
			margin: 0 0 5px 0;
		}
		
	}
	
	.carson-crest {
		position: absolute;
		top: 30px;
		right: 15px;
	}
	
	#crests {
		position: absolute; 
		top: 30px; 
		right: 180px; 
		width: 90px; 
		display: none;
		
			> img {
				display: none;
			}
	}
	
  h2 {
    padding: 0;
    margin: 0 0 0 80px;
    color:  #fff;
    font-size: 1em;
    text-transform: uppercase;
  }

  h1 {
    padding: 0;
    color: #fff;
  }

  .cycle-slideshow {

    img {
      max-height: 80px !important;
    }

  }

  .head-weather {
    padding: 0;
    margin: 0;
  }

}

.navi {

  li {

    p {
      margin: 0;
    }

    a:link, a:visited{
      #green {
        background-color: green;
        padding: 5px 0 5px 0;
        margin: 0;
        color: #fff;
      }

      #amber {
          background-color: orange;
          padding: 5px 0 5px 0;
          margin: 0;
          color: #fff;
      }

      #red {
          background-color: red;
          padding: 5px 0 5px 0;
          margin: 0;
          color: #fff;
      }

      #black {
          background-color: black;
          padding: 5px 0 5px 0;
          margin: 0;
          color: #fff;
      }

      #white {
          background-color: white;
          padding: 5px 0 5px 0;
          margin: 0;
          color: #000;
      }

      #gray {
          background-color: gray;
          padding: 5px 0 5px 0;
          margin: 0;
          color: #fff;
      }
    }

    a:active, a:hover{
      #green {
        padding: 5px 0 5px 0;
        background-color: darken(green, 10%);
        margin: 0;
      }

      #amber {
        padding: 5px 0 5px 0;
        background-color: darken(orange, 10%);
        margin: 0;
      }

      #red {
        padding: 5px 0 5px 0;
        background-color: darken(red, 10%);
        margin: 0;
      }

      #black {
        padding: 5px 0 5px 0;
        background-color: darken(black, 10%);
        margin: 0;
      }

      #white {
        padding: 5px 0 5px 0;
        background-color: darken(white, 10%);
        margin: 0;
      }

      #gray {
        padding: 5px 0 5px 0;
        background-color: darken(gray, 10%);
        margin: 0;
      }


    }

    
    }
}

.mid-weather {
  display: none;
}

@media (min-width: $small-screen) {

  .environment, .resources, .faq {
    ul {
      height: 180px;
    }
  }

  .radar {
    text-align: center;
    img {
      width: 50%;
    }
  }

}

@media (max-width: $small-screen) {

  .side-nav {
    display: none;
  }

  .units {
    p {
      font-size: .7em;
    }
  }

  .TenDay_redraw {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 50%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Condition"; }
    td:nth-of-type(3):before { content: "High"; }
    td:nth-of-type(4):before { content: "Low"; }
    td:nth-of-type(5):before { content: "Precip"; }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  .contents {
    ul {
      margin: -30px 0 0 0;
      text-align: center;
      padding-top: 0;

      li {
        display: inline-block;
      }
    }
    .divider {
      display: none;
    }
  }
  .footer {
    .row {
      margin: 0 auto;
    }

    .right {
      ul {
        padding: 0;
      }
    }

    // .right {
    //   float: right !important;
    // }
    // ul {
    //   margin: 0;
    //   text-align: center;
    // }
    // li{
    //   display: inline-block;
    // }
    // li:after {
    //   content: " - ";
    // }
    // li:last-child:after {
    //   content: " ";
    // }
  }

  .environment, .resources, .faq {
    ul {
      height: auto;
    }
  }

  .header {
    h1 {
      // word-break: break-all;
      overflow: hidden;

    }

    h2 {
      display: none;
    }

    ul {
      display: none;
    }

    .carson {
      margin-top: -98px;
    }

    img {
      margin-top: 0;
      padding-bottom: 30px;
    }
  }

  .mid-weather {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;

    .head_links {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;

        a:link, a:visited{
        #green {
          background-color: green;
          padding: 10px 0 10px 0;
          margin: 0;
          color: #fff;
        }

        #amber {
            background-color: orange;
            padding: 10px 0 10px 0;
            margin: 0;
            color: #fff;
        }

        #red {
            background-color: red;
            padding: 10px 0 10px 0;
            margin: 0;
            color: #fff;
        }

        #black {
            background-color: black;
            padding: 10px 0 10px 0;
            margin: 0;
            color: #fff;
        }

        #white {
            background-color: white;
            padding: 10px 0 10px 0;
            margin: 0;
            color: #000;
        }

        #gray {
            background-color: gray;
            padding: 10px 0 10px 0;
            margin: 0;
            color: #fff;
        }
      }

      a:active, a:hover{
        #green {
          padding: 10px 0 10px 0;
          background-color: darken(green, 10%);
          margin: 0;
        }

        #amber {
          padding: 10px 0 10px 0;
          background-color: darken(orange, 10%);
          margin: 0;
        }

        #red {
          padding: 10px 0 10px 0;
          background-color: darken(red, 10%);
          margin: 0;
        }

        #black {
          padding: 10px 0 10px 0;
          background-color: darken(black, 10%);
          margin: 0;
        }

        #white {
          padding: 10px 0 10px 0;
          background-color: darken(white, 10%);
          margin: 0;
        }

        #gray {
          padding: 10px 0 10px 0;
          background-color: darken(gray, 10%);
          margin: 0;
        }


      }

    
    }
  }
  }

  .radar {
    text-align: center;
    img {
      width: 100%;
    }
  }
}

.sidebar { 
  padding: 15px 15px 0 0;

  ul {
    margin: 0;
  }

  li {
    display: block;
    text-decoration: none;
    // margin-left: -30px;
    padding: 5px 0 5px 0;
  }

  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    background: $primary-color;
    padding: 5px 0 5px 0;
    color: #fff;
  }

  div {
    padding: 0;
    margin: 0;
  }
}

.top-bar {
	background: $topbar-bg;
	
  ul {
    margin: 0 !important;
  }
}

.left {
  padding-left: 0 !important;
  a {
    text-decoration: none !important;
  }
}

.leaders {
  img {
    float: left;
    margin: 0 15px 10px 0;
  }
  h1, h2, h3, h4 {
    margin: 0 !important;
  }
}


.details {
  clear: both;
}

.orbit-slides-container {
  img {
    margin: 0 auto !important;
    width: 100% !important;
    height: auto !important;
    vertical-align: middle !important;
  }
}

.facebook {
  // margin-left: -40px !important;
  margin-bottom: 10px;
  background: $medium-gray;
  padding: 0;
}

.lte-ie9 .fb-like-box {
    width: 260px !important;
}

.environment, .resources, .faq, {

  h2 {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 0;
    background: $primary-color;
    text-align: center;
    color: #fff;
    display: block;  
  }

  ul {
    margin: 0;
    padding: 10px 0 10px 0;
    background: $medium-gray;

    li {
      margin: 5px 0 5px 40px;
    }
  }
}

.command {

  h2 {
    margin-top: ($column-gutter/2);
    margin-bottom: 0;
    padding: 5px 0 5px 0;
    background: $primary-color;
    text-align: center;
    color: #fff;
    display: block;  
  }

  ul {
    margin: 0;
    padding: 10px 0 10px 0;
    background: $medium-gray;

  }
}

.community, .social{
  h2 {
    margin-top: ($column-gutter/2);
  }
}

.community {
    ul {
    background: $medium-gray;
    text-align: center;
    padding: 10px 0 10px 0;
  }
}

.social {
  margin-top: 10px !important;
  
  ul {
    background: $medium-gray;
    text-align: center;
    padding: 10px 0 10px 0;
  }

  li {
    display: inline;
  }
}

.footer {
  background: $primary-color;
  padding: 0;
  color: #fff !important;
  margin: 10px 0 0 0;

  ul {
  }

  li {
    list-style-type: none;
    margin: 3px 0 3px 0;
    padding: 0;
  }

  a:link, a:visited {
    color: #fff !important;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $Army-Green !important;
    text-decoration: none;
  }

}

.dropdown {
  padding-left: 0 !important;
}

.title-area {
  padding-left: 0 !important
}

.units {
  padding: 15px 0 0 0;
  h1 {
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
    background: $primary-color;
    text-align: center;
    color: #fff;
    display: block;  
  }

  // p {
  //   padding-bottom: 20px;
  // }

  img {
    padding-top: 20px;
  }

}
.weather_table {

  .label {
    text-align: right;
    font-weight: bold;
  }

  .top {
    text-align: center;
  }

  table {
    border-style: solid;
    border-color: #111;
  }

  td {
      padding: 5px;
    }

}

.TenDay {

  tr:nth-child(odd) {
    background-color: #ccc;
  }
  p {
    padding: 0;
    margin: 0;
  }

}

.pao {
  background-color: $medium-gray;

  h2 {
    background-color: $primary-color;
    text-align: center;
    color: #fff;
  }

  p {
    margin: 10px 10px 0 10px;
    text-align: justify;
  }
}

.pao-links {
  text-align: center;
  h2 {
    background-color: $primary-color;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    background-color: $medium-gray;
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }

  li {
    padding: 5px 0 5px 0;
  }
}

.pao-address {
  p {
    margin: 0 0 0 10px;
    padding: 0;
  }

  p:first-child {
    margin: 10px 0 0 10px;
  }

  p:last-child {
    margin:10px;
  }
}

.pao-phone {
  p:first-child {
    margin-top: 10px;
  }
}

#second {
    display: none;
}

.reporting {
  h2 {
    background-color: $primary-color;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 5px;
  }

  li {
    list-style-type: none;
    border: solid 2px;
    margin: 1px;
  }
}

.alert {
  background-color: #fff;
  text-align: center;
}

.slide {

}
.no-cssgradients .top-bar {
	background: $medium-gray;
}


