/* CSS Document */

.garrison a, .safety-mission a {
	text-decoration:underline;
	}
.garrison h2, .safety-mission h2 {
	margin:0 !important;
}

.safety-info {
	
	li {
	padding-bottom:15px;
	}
	h2 {
	margin:40px 0 10px 0;
	}
}

.scroller {
	padding:15px 0 0 17px !important;
}

