/* CSS Document */

body {
	background:	 /*url(../../../10cshweb/new-site/img/flag3.png) no-repeat top right fixed, */
	url(../../../10cshweb/new-site/img/kennabec1.png) fixed;
	background-size:auto, cover;
}

.container {
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.42);
}